:root {
    --main-fonts: "Manrope", sans-serif;
    // --second-fonts: "Unbounded", sans-serif;

    // BACKGROUND
    --background-color: #F4F4F4;
    --basic-colorLighter: #FFF4DF;
    --basic-colorDarker: #F6B83D;

    // --second-color: rgb(99, 89, 233);

    --main-text: #262626;
    --second-text: #ffffff;
    // --btn-main-bc: #f3f3f3;

    // --accent-color-normal-state: rgb(58, 106, 245);
    // --accent-color-hover: rgb(243, 243, 243);

    // --second-color-hover: rgb(58, 106, 245);
    // --second-color-normal-state: rgb(243, 243, 243);
}