// @import '../../../assets/styles/mixin';
// @import '/assets/styles/mixin';
// @import '../../assets_local/mixin';

.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 17px;
    padding-bottom: 17px;

}

.navExtension {
    
    @media (max-width: 700px) {
        display: none;
    }

    // @include tablet {
    //     display: block;
    // }

    @media screen and (min-width: 768px) {
        display: block;
        background-color: yellow;
    }
}