@import '../../../assets/styles/mixin';
// @import '/assets/styles/mixin';

.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 17px;
    padding-bottom: 17px;

}

.navExtension {
    display: none;

    @include tablet {
        display: block;
    }
}