html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

body {
    font-family: var(--main-fonts);
    background-color: var(--basic-color);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

ul {
    padding-left: 0;
    list-style: none;
}

li {
    margin-top: 0;
    margin-bottom: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;

    width: 100%;
}

a {
    text-decoration: none;
    color: var(--main-text);
}

button,
a {
    cursor: pointer;
    font-family: inherit;
}